<ion-tabs>

  <ion-tab-bar color="netflix-dark" slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Título</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Vídeos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab3">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Mais</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
